@import "/vendor/filament/filament/resources/css/theme.css";

@config 'tailwind.config.js';

.fi-sidebar {
    @apply bg-[#003C97] dark:bg-gray-950 !important;
}

.fi-sidebar-header {
    @apply bg-[#003C97] shadow-none ring-0 dark:bg-gray-950 !important;
}

.fi-sidebar-item-button {
    @apply bg-transparent text-white !important;
}

.fi-sidebar-item-active .fi-sidebar-item-label,
.fi-sidebar-item-active .fi-sidebar-item-icon {
    @apply text-amber-500 !important;
}

.fi-sidebar-item-label,
.fi-sidebar-item-icon {
    @apply text-white !important;
}

.fi-topbar nav {
    @apply bg-[#ECF0F3] shadow-none ring-0 !important;
}

.fi-body,.fi-main {
    @apply bg-[#ECF0F3] !important;
}

.fi-topbar {
    @apply bg-[#ECF0F3] !important;
}

.fi-ta-text {
    @apply py-2 !important;
}

.fi-ta-image {
    @apply py-2 !important;
}

.fi-wi-stats-overview-stat {
    @apply grid grid-cols-2 items-center text-[#004581] !important;
}

.fi-wi-stats-overview-stat-value {
    @apply text-[#004581] !important;
}

.fi-wi-stats-overview-stat-label {
    @apply text-[#004581] !important;
}

.fi-wi-stats-overview-stat-description {
    @apply text-[#004581] !important;
}

.fi-wi-stats-overview-stat-chart {
    @apply relative h-full  !important;
}
